body {
  background-color: rgb(72, 44, 44);
}
.container {
  width: 50%;
  margin: 50px auto;
  padding: 100px;
  background-color: rgb(42, 29, 14);
  display: flex;
  flex-direction: column;
  text-align: center;
  border-radius: 100%;
  color: lightblue;
}
button {
  background-color: rgb(207, 175, 152);
  border-radius: 5px;
  padding: 10px;
}
section {
  background-color: rgb(57, 45, 32);
  border-radius: 100%;
}
